.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1rem 4rem rgba($color-black, .15);
  transition: transform .2s ease;
  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #62db83, #28b485);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
  }
  &:hover {
    transform: translateY(-2rem) scale(1.1);
  }
  &__text {
  }
}