@keyframes moveToLeft {
  0% {
    transform: translateX(-9rem);
  }
  80% {
    transform: translateX(1rem);

  }
  100% {
    opacity: 1;
    transform: translate(0);
  }

}

@keyframes moveToRight {
  0% {
    transform: translateX(9rem);
  }
  80% {
    transform: translateX(-1rem);

  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveToUp {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  80% {
    transform: translateY(-.4rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}