.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -25vh;
}

.section-features {
  margin-top: -16vh;
  padding: 20rem 0;
  background: linear-gradient(to top right,
          rgba($color-primary-light, 0.8),
          rgba($color-primary-dark, 0.8)), url("../../img/nat-4.jpg") no-repeat top right;
  background-size: cover;
  transform: skewY(-5deg);
  z-index: 1;

  & > * {
    transform: skewY(5deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 2rem 0;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}